.blogs-item {
    width: 300px;
    height: 394.5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    -o-text-overflow: hidden;
       text-overflow: hidden
}

.blogs-item .date-cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateY(-34.5px);
        -ms-transform: translateY(-34.5px);
            transform: translateY(-34.5px);
}

.blogs-item .date-cat p {
    font-style: italic;
    font-size: 12px;
    color: #FFFFFF;
}

.blogs-item .date-cat p:nth-child(1){
    margin-left: 24px;
}

.blogs-item .date-cat p:nth-child(2){
    margin-right: 24px;
}

.blogs-item img {
    width: 300px;
    height: 108px; 
    -o-object-fit: cover; 
       object-fit: cover;
}

.blogs-item img:nth-child(2) {
    position: absolute;
    -webkit-transform: translateX(-299px);
        -ms-transform: translateX(-299px);
            transform: translateX(-299px);
}

.blogs-item h3 {
    font-size: 36px;
    margin-left: 24px;
    color: #262626;
    word-wrap: break-word;
    max-width: 230px;
}

.article-wrapper {
    max-height: 171px;
    max-width: 252px;
    margin: 12px 24px 30px 24px;
    overflow: hidden;
}

.blogs-item p {
    max-width: inherit;
    max-height: inherit;
    text-align: left;
    word-break: break-word;
    font-size: 18px;
    margin-top: 0;
    line-height: 28.5px;
    color: #868686;
    overflow: hidden;
}

  @media screen and (max-width: 1600px) {
    .blogs-item {
        width: 200px;
        height: 263px;
    }
    
    .blogs-item .date-cat {
        -webkit-transform: translateY(-23px);
            -ms-transform: translateY(-23px);
                transform: translateY(-23px);
    }
    
    .blogs-item .date-cat p {
        font-size: 8px;
    }
    
    .blogs-item .date-cat p:nth-child(1){
        margin-left: 16px;
    }
    
    .blogs-item .date-cat p:nth-child(2){
        margin-right: 16px;
    }
    
    
    .blogs-item img {
        width: 200px;
        height: 72px; 
    }
    
    .blogs-item img:nth-child(2) {
        -webkit-transform: translateX(-199px);
            -ms-transform: translateX(-199px);
                transform: translateX(-199px);
    }
    
    .blogs-item h3 {
        font-size: 24px;
        margin-left: 16px;
        max-width: 153px;
    }
    
    .article-wrapper {
        height: 114px;
        width: 168px;
        margin: 8px 16px 20px 16px;
    }
    
    .blogs-item p {
        font-size: 12px;
        line-height: 19px;
    }
  }

  @media screen and (max-width: 1000px) {
    .blogs-item {
        width: 200px;
        height: 130px;
    }
    
    .blogs-item .date-cat {
        -webkit-transform: translateY(-23px);
            -ms-transform: translateY(-23px);
                transform: translateY(-23px);
    }
    
    .blogs-item .date-cat p {
        font-size: 8px;
    }
    
    .blogs-item .date-cat p:nth-child(1){
        margin-left: 16px;
    }
    
    .blogs-item .date-cat p:nth-child(2){
        margin-right: 16px;
    }
    
    .blogs-item img {
        width: 200px;
        height: 36px; 
    }
    
    .blogs-item img:nth-child(2) {
        -webkit-transform: translateX(-199px);
            -ms-transform: translateX(-199px);
                transform: translateX(-199px);
    }
    
    .blogs-item h3 {
        font-size: 12px;
        margin-left: 8px;
        max-width: 153px;
    }
    
    .article-wrapper {
        height: 40px;
        width: 168px;
        margin: 8px 16px 0px 8px;
    }
    
    .blogs-item p {
        font-size: 12px;
    }
  }

  @media screen and (max-width: 700px) {
    .blogs-item {
        width: 160px;
        height: 200px;
    }
    
    .blogs-item .date-cat {
        -webkit-transform: translateY(-23px);
            -ms-transform: translateY(-23px);
                transform: translateY(-23px);
    }
    
    .blogs-item .date-cat p {
        font-size: 8px;
    }
    
    .blogs-item .date-cat p:nth-child(1){
        margin-left: 16px;
    }
    
    .blogs-item .date-cat p:nth-child(2){
        margin-right: 16px;
    }
    
    .blogs-item img {
        width: 160px;
        height: 60px; 
    }
    
    .blogs-item img:nth-child(2) {
        -webkit-transform: translateX(-160px);
            -ms-transform: translateX(-160px);
                transform: translateX(-160px);
    }
    
    .blogs-item h3 {
        font-size: 12px;
        margin-left: 8px;
        max-width: 153px;
    }
    
    .article-wrapper {
        height: 80px;
        width: 140px;
        margin: 8px 16px 0px 8px;
    }
    
    .blogs-item p {
        font-size: 12px;
    }
  }
