.btn-load {
  background: #F27623;
  border-radius: 20px;
  min-height: 46.5px;
  color: #FFFFFF;
  font-family: "Proxima";
  width: 288px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: 0;
  margin: 0 auto;
  margin-top: 36px;
}

.btn-more {
background: #F27623;
border-radius: 20px;
min-height: 46.5px;
color: #FFFFFF;
font-family: "Proxima";
width: 288px;
font-size: 18px;
font-weight: bold;
text-decoration: none;
cursor: pointer;
text-align: center;
border: 0;
margin-top: 36px;
margin-left: 210px;
}


.gone-btn-load {
visibility: hidden;
}


@media screen and (max-width: 1600px) {
.btn-load {
  min-height: 31px;
  width: 192px;
  font-size: 12px;
  margin-top: 24px;
}

.btn-more {
min-height: 31px;
width: 192px;
font-size: 12px;
margin-top: 24px;
margin-left: 140px;
}

.gone-btn-load {
visibility: hidden;
}
}

@media screen and (max-width: 1000px) {
.btn-more {
  min-height: 31px;
  width: 192px;
  font-size: 12px;
  margin-top: 36px;
  margin-left: 24px;
}
}

@media screen and (max-width: 700px) {
.btn-more {
  min-height: 31px;
  width: 192px;
  font-size: 12px;
  margin-top: 0;
  margin-left: 105px;
}
}


