.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Proxima Nova Regular";
    font-size: 12px;
    color: #FFFFFF;
    bottom: 0;
    height: 48px;
    background-color: #262626;
}

.cr-icon {
    color: white;
    margin-right: 5px;
    transform: translateY(-1px);
}   