.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Proxima Nova Regular";
    font-size: 12px;
    color: #FFFFFF;
    bottom: 0;
    height: 48px;
    background-color: #262626;
}

.cr-icon {
    color: white;
    margin-right: 5px;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
}   