.form-wrapper {
    background-color: aquamarine;
    min-width: 645px;
    min-height: 988.5px;
}

@media screen and (max-width: 1600px) {
    .form-wrapper {
        background-color: aquamarine;
        min-width: 537.5px;
        min-height: 823.75px;
    } 
  }

@media screen and (max-width: 1200px) {
  .form-wrapper {
      background-color: aquamarine;
      min-width: 430px;
      min-height: 659px;
  } 
}