header {
    width: 100vw;
    height: 50vh;
    background: 
      url(../assets/Rectangle.png), url(../assets/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    padding-top: 20px;
}