header {
    width: 100vw;
    height: 375px;
    background: 
      url(../assets/Rectangle.png), url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    padding-top: 40px;
}

#title {
    position: absolute;
    color: white;
    font-family: "proxima";
    font-size: 72px;
    font-weight: 600;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10%;
    width: 100px; /* Need a specific value to work */
}


@media screen and (max-width: 100px) {
    header {
        padding-top: 20px;
        max-height: 150px;
    }
    
    #title {
        font-size: 48px;
        margin-top: 13%;
    }
  }

@media screen and (max-width: 1200px) {
    header {
        padding-top: 20px;
        min-height: 250px;
    }

    #title {
        font-size: 48px;
        margin-top: 13%;
    }
  }

@media screen and (max-width: 1600px) {
  header {
      padding-top: 20px;
      height: 312.5px;
  }

  #title {
      font-size: 60px;
      margin-top: 13%;
  }
}
