.logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
 
.logo-wrapper div {
    font-family: "Arial Rounded MT";
    font-size: 22px;
    color: white;
}

.logo-wrapper span {
    color: #ff480b;
}