.logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
 
.logo-wrapper div {
    font-family: "arial round";
    font-size: 55px;
    color: white;
}

.logo-wrapper span {
    font-family: "arial round";
    color: #E95E30;
}

.logo {
    width: 150px;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 80px;    
    }
    .logo-wrapper div {
        font-size: 30px;
    }
  }

  @media screen and (max-width: 500px) {
    .logo {
        width: 40px;    
    }
    .logo-wrapper div {
        font-size: 15px;
    }
  }